---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2 {
        margin-bottom: 0px;
        margin-top: 10px;
        font-weight:bold;
    }
}
.post-list-heading {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    box-sizing: inherit;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
}

.category-posts {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}

.post-slug {
    font-size: 14px;
    color: #345;
    font-family: cousine,sfmono-regular,Consolas,Menlo,liberation mono,ubuntu mono,Courier,monospace;
    flex: 0 0 50%;
    letter-spacing: -.03em;
    
}

a:visited {
    color: #345;
}

.dot 
{
    height: 7px;
    width: 7px;
    background-color: rgb(119, 218, 178);;
    border-radius: 50%;
    display: inline-block;
}

.body {
    background-color: rgb(215, 220, 224);
}
