---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.categories.size > 0 -%}
    {%- for category in site.categories -%}
      
        <h2 class="post-list-heading">
          <a href="{{ site.url }}/archives/category/{{ category[0] | downcase }}/">{{ category[0] }}</a>
        </h2>
        <hr>
        {%- if category[1].size > 0-%}
        <div class="category-posts">
            {% for post in category[1] reversed %}
            
              <a class="post-slug" href="{{ post.url | relative_url }}" >
                <span class="dot"></span>
                <span>
                  {{ post.title | escape }}
                </span>
                
              </a>
            
            {%- endfor -%}
          </div>
          
        {%- endif -%}
      
    {%- endfor -%}
  {%- endif -%}

</div>


