---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.categories.size > 0 -%}
    {%- for category in site.categories -%}
        <h2 class="post-list-heading">{{ category.name }}</h2>
        {%- if site.categories[category.name].size > 0-%}
            {% for post in site.categories[category.name] %}
                <li>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                </li>
            {%- endfor -%}
        {%- endif -%}
        
    {%- endfor -%}
  {%- endif -%}

</div>